<html>

<head>	
  
  <title>matra architects: all strips</title>

</head>

<body>


<%= render partial: 'shared/navbar' %>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">
       
     <%= render :partial => "shared/strip", collection: @strips %>

</div>

</div>


</body>

</html>
