<html>

<% content_for :head do %>
	  
  <title>matra architects: view publications</title>

<% end %>

<body>

<%= render partial: 'shared/navbar' %>

<div class="container-fluid">

<%= render :partial => 'view/publications', collection: @publications %>
  
</div>
 
</body>

</html>
