<html>

<head>	
  
  <title>matra architects: travel</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">
  
  <%= render :partial => 'shared/travel', collection: @travels %>
  
</div>

</div>


</body>

</html>
