<html>

<% content_for :head do %>
	  
  <title>matra architects: view user</title>

<% end %>

<body>

<%= render partial: 'shared/navbar' %>

<div class="matra-container">

<%= render :partial => 'user', collection: @users %>
  
</div>
 
</body>

</html>
