<div class="matra-row" style="margin-top: 2%">
   
   <div class="ProjectBox">
      
      <div class="row">
        <div class="col-xs-4" style="text-align: center">
          <h3><%= archive.first_name %>&nbsp<%= archive.last_name %></h3>
        </div>
        <div class="col-xs-4"> 
          <%= link_to edit_archive_path(archive), :class => "btn matrabtn", :style => "width: 60%" do %>
            edit archive
          <% end %>
        </div>
        <div class="col-xs-4">
           <%= link_to archive_path(archive), :method => "delete", :class => "btn matrabtn", :style => "width: 60%" do %>
            delete archive
          <% end %> 
        </div>
      </div>

   </div>

</div>


