<div class="matra-row" style="margin-top: 2%">
   
   <div class="ProjectBox">
      
      <div class="row">
        <div class="col-xs-4" style="text-align: center">
          <h3><%= officepic.first_name %>&nbsp<%= officepic.last_name %></h3>
        </div>
        <div class="col-xs-4"> 
          <%= link_to edit_officepic_path(officepic), :class => "btn matrabtn", :style => "width: 60%" do %>
            edit officepic
          <% end %>
        </div>
        <div class="col-xs-4">
           <%= link_to officepic_path(officepic), :method => "delete", :class => "btn matrabtn", :style => "width: 60%" do %>
            delete officepic
          <% end %> 
        </div>
      </div>

   </div>

</div>


