<div class="matra-container">
<nav class="navbar navbar-default navigationbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-left: -37px"><%= image_tag("logo.png") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav linkcollection">
        <li id="links"><a href="/">home</a></li>
        <li id="links"><a href="#">archive</a></li>
        <li id="links"><a href="/team">team</a></li>
        <li id="links"><a href="#">publications</a></li>
        <li id="links"><a href="#">awards</a></li>
        <li id="links"><a href="#">travel</a></li>
        <li id="links"><a href="/contact">contact</a></li>
      </ul>
        <div style="margin-right: -31px">
          <%= form_tag matrasearch_path, :method => :get, :role => "search", :class => "navbar-form navbar-right", :style => "margin-top: 1%" do %>
            <%= text_field_tag :search, params[:search], placeholder: "search", :class => "form-control" %>
         <% end %>
        </div>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>