<% if user.role == "admin" %>
<div></div>
<% else %>
<div class="matra-row" style="margin-top: 3%">
	<div class="name-user">
	   <div class="UserNameBox"> 	 
        <h2 class="UserName"><%= user.first_name %>&nbsp<%= user.last_name%></h2>
       </div> 
	</div>
	<div class="photo-user">
        <div class="UserPhotoBox">
        	<%= image_tag user.avatar, :class => "fitavatar" %>
        </div>  
	</div>
</div>
<% end %>