<div class="matra-row" style="margin-top: 4%">

<% if strip.category == "medium" %>

<%= render :partial => 'stripnormal', locals: {strip: strip, i: i} %>

<% end %>

<% if strip.category == "narrow" %>

<%= render :partial => 'stripnarrow', locals: {strip: strip, i: i} %>

<% end %>


<% if strip.category == "broad" %>

<%= render :partial => 'stripbroad', locals: {strip: strip, i: i} %>

<% end %>

</div>