<html>

<% content_for :head do %>
	  
  <title>matra architects: view awards</title>

<% end %>

<body>

<div class="container-fluid">

<%= render :partial => 'view/award', collection: @awards %>
  
</div>
 
</body>

</html>
