<% if image.photo_category == "square" %>
    
<div class="mainsquarebox">
  <%= image_tag image.photo_url, :class => "fitimg" %>
</div>
    
<% end %>
    
<% if image.photo_category == "landscape" %>
    
<div class="mainlandscapebox">
  <%= image_tag image.photo_url, :class => "fitimg" %>
</div>
    
<% end %>
    
<% if image.photo_category == "portrait" %>
    
<div class="mainportraitbox">
    
  <%= image_tag image.photo_url, :class => "fitimg" %>
    
</div>
    
<% end %>
  
