<html>

<head>	
  
  <title>Project Archive</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">


<%= render :partial => 'project', collection: @projects %>

</div>

</div>

</body>

</html>
