<html>

<head>	
  
  <title>Search Results</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">

<% if @projects.present? %>

<%= render :partial => 'project', collection: @projects %>

<% else %>

<h4 style="text-align: center">No Relevant Projects Found</h4>

<% end %>
  
</div>

</div>

</body>

</html>
