<html>

<head>	
  
  <title>Project Index</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">

<%= render :partial => 'shared/project', collection: @projects %>
  
</div>

</div>

</body>

</html>
