<div class="matra-row" style="margin-top: 4%">

<div class="broadheading" style="width: 10%">
	<div class="categorybroad">
		<h2 class="namebroad">team</h2>
	</div>
</div>

<% @users.each do |user| %>
   
   <% if user.avatar_category == "portrait" %>
     
     <div class="broadportrait">
	  <div class="portraitbroad">
	  	<%= image_tag user.avatar_url, :class => "fitsquare" %>
	  </div>
	 </div> 	

   <% elsif user.avatar_category == "landscape" %>

     <div class="broadlandscape">
	  <div class="landscapebroad">
	  	 <%= image_tag user.avatar_url, :class => "fitlandscape" %>
	  </div>
	 </div> 	

   <% else %>

     <div class="broadsquare">
	  <div class="squarebroad">
	  	 <%= image_tag user.avatar_url, :class => "fitsquare" %> 
	  </div>
	 </div> 

   <% end %>

<% end %>

</div>