<html>

<head>	
  
  <title>matra architects: our team</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">
  
  <%= render :partial => 'shared/user', collection: @users %>
  
</div>

</div>


</body>

</html>
