<html>

<% content_for :head do %>
	  
  <title>matra architects: our team</title>

  <script type="text/javascript">
  
  $(document).ready(function(){
    
    

  });
     
  </script>

<% end %>

<body>

<div class="container-fluid" style="margin-top: 3%">
  
  <%= render :partial => 'strip' %>
  
  <div style="display: none"> 
   <%= paginate @users, :remote => true %>
  </div> 
  
</div>

</div>


</body>

</html>
