<html>

<head>	
  
  <title>matra architects: our team</title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">
  
  <%= render :partial => 'strip' %>
  
  <div style="display: none"> 
   <%= paginate @users %>
  </div> 
  
</div>

</div>


</body>

</html>
