<div class="searchresult" id="searchresult">
  
 <%= link_to awards_path do %>  
  <h3 class="searchfirst"><%= award.first_name %></h3>
  <h3 class="searchlast"><%= award.last_name %></h3>
 <% end %>

</div>
