<div class="searchresult" id="searchresult">
  
 <%= link_to publications_path do %>  
  <h3 class="searchfirst"><%= publication.first_name %></h3>
  <h3 class="searchlast"><%= publication.last_name %></h3>
 <% end %>

</div>

