<html>

<% content_for :head do %>
	  
  <title>matra architects: search results</title>

<% end %>

<body>

<%= render partial: 'shared/navbar1' %>

<div class="matra-container-nr">
	
	 <div class="matra-row">
     
     <h3>projects</h3>
      
      <% if @projects.present? %>

      <%= render :partial => 'project', collection: @projects %>

      <% else %>
       
       no relevant projects found

      <% end %>

    </div>
     
    
    <div class="matra-row" style="margin-top: 2%">
   
     <h3>awards</h3>
       
      <% if @awards.present? %>

      <%= render :partial => 'award', collection: @awards %>

      <% else %>

       no relevant awards found

      <% end %>

    </div>

    <div class="matra-row" style="margin-top: 2%"> 

     <h3>publications</h3>

      <% if @publications.present? %>

      <%= render :partial => 'publication', collection: @publications %>

      <% else %>

       no relevant publications found 

      <% end %>

     </div> 

	</div>

</div>

</body>

</html>
