<html>

<% content_for :head do %>
	  
  <title>matra architects: view archives</title>

<% end %>

<body>

<div class="container-fluid">

<%= render :partial => 'view/archive', collection: @archives %>
  
</div>
 
</body>

</html>
