<html>

<head>	
  
  <title>matra architects: all archive strips</title>

</head>

<body>

<%= render partial: 'shared/navbar' %>

<div class="matra-container" style="margin-top: 3%">

<div class="row">
       
     <%= render :partial => "shared/archivestrip", collection: @archivestrips %>

</div>

</div>


</body>

</html>
