<html>

<% content_for :head do %>
	  
  <title>matra architects: contact</title>

<% end %>

<body>

<div class="container-fluid" style="margin-top: 3%">
 
 <div class="row">
  
  <p style="font-size: 16px;">mail@matra.co.in</p>
  <p style="font-size: 16px;">+91 (011) 26692820</p>
  <p style="font-size: 16px; margin-top: 3%">53, Navjeevan Vihar</p>
  <p style="font-size: 16px;">New Delhi - 110017</p>
  <p style="font-size: 16px">India</p>

 </div> 
  
</div>

</div>


</body>

</html>
