<html>

<% content_for :head do %>
	  
  <title>matra architects: contact</title>

<% end %>

<body>

<div class="container-fluid" style="margin-top: 3%">
 
 <div class="row">
  
  <h2 style="font-size: 25px;">mail@matra.co.in</h2>
  <h2 style="font-size: 25px;">+91 (011) 26692820</h2>
  <h2 style="font-size: 25px; margin-top: 2%">53, Navjeevan Vihar</h2>
  <h2 style="font-size: 25px; margin-top: 2%">New Delhi - 110017</h2>
  <h2 style="font-size: 25px; margin-top: 2%">India</h2>

 </div> 
  
</div>

</div>


</body>

</html>
