<html>

<head>	
  
  <title>View Destinations</title>

</head>

<body>

<%= render partial: 'shared/navbar' %>

<div class="container-fluid">

<%= render :partial => 'view/destination', collection: @destinations %>
  
</div>

</body>

</html>
