/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*
{
   font-family: 'Muli', sans-serif;
   font-weight: 200;
}

html
{
  height: 100%;
}

body 
{
  overflow-y: scroll;
  height: 100%;
}


#main {
  overflow:auto;
  padding-bottom:100px; 
}


.navigationbar
{
  background: transparent;
  border-color: transparent;
  color: white;
}

#wrap
{
  min-height: 100%;
}

#matra
{
	font-size: 20pt;
}

#logo a:link
{
  color: #ccc;
}


#logo a:hover
{
  color: #ccc;
}

 .matra-container{
        width: 100%; 
        max-width: 1200px;      
    }

.matra-row:before, 
    .matra-row:after {
        content:"";
          display: table ;
        clear:both;
    }

.matra-row
{
  margin-left: -1px;
  margin-right: -1px;
}    

.matra-heading
{
  float: left; 
  min-height: 1px; 
  width: 20%;
  padding-left:1px;  
  position: relative;
} 

.matra-landscape
{
  float: left; 
  min-height: 1px; 
  width: 31%; 
  padding-right:1px;
  position: relative; 
}

.matra-square
{
  float: left;
  padding-left:1px;  
  padding-right:1px;
  min-height: 1px; 
  width: 23%;
  position: relative;  
}


.matra-portrait
{
  float: left;
  min-height: 1px;
  padding-left:1px;  
  padding-right:1px;
  width: 12%;
  position: relative;  
}


.matra-arrow
{
  float: left;
  min-height: 1px;
  padding-left:1px;  
  padding-right:1px;
  width: 12%;
  position: relative;  
} 



@media all and (max-width:767px) {

.matra-heading
{
  width: 100%;
 } 

.matra-landscape
{
  width: 100%;  
}

.matra-square
{
  width: 100%;  
}

.matra-portrait
{ 
  width: 100%;  
} 

.matra-arrow
{
  width: 0%; 
}

.arrowbox
{
display: none;

}

};

#contactus a:link 
{
  border-radius: 4px;
  color: #999;
  border: 2px solid #999;
}


#contactus a:hover 
{
  background: #999;
  color: white;
  border: 2px solid #999;
}


#contactus a:visited 
{
  border-radius: 4px;
  color: #999;
  border: 2px solid #999;
}

.linkcollection
{
	margin-left: 10%;
}

#links a:link
{
	color:#7f7f7f;
}


#links a:hover
{
	color:#7f7f7f;
}

#links a:visited
{
	color:#7f7f7f;
}

#links
{
  font-size: 11pt;
}

.footer
{
  position: relative;
  margin-top: -50px; 
  height: 80px;
  clear:both;
  padding-top:20px;
  font-weight: 300;
  font-size: 11pt;
}


.linklist
{
 display: inline-block;
}

.footerlink a:link {
  color: #7f7f7f;
}

.footerlink a:hover {
  color: #7f7f7f;
}


.footerlink a:visited {
  color: #7f7f7f;
}
