/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*
{
   font-family:"Swis721 Th BT W05 Thin";
}

html
{
  height: 100%;
}

body 
{
  overflow-y: scroll;
  height: 100%;
}


#main {
  overflow:auto;
  padding-bottom:100px; 
}


.navigationbar
{
  background: transparent;
  border-color: transparent;
  color: white;
}

#wrap
{
  min-height: 100%;
}

#matra
{
	font-size: 20pt;
}

#logo a:link
{
  color: #3c3c3c;
}


#logo a:hover
{
  color: #3c3c3c;
}

 .matra-container{
        
        width: 100%; 
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;      
    }

 .matra-container-nr {
        
        width: 1200px;
        margin-right: auto;
        margin-left: auto;      
    }

 .matra-container-parent
    {
        width: 1300px;
        margin-right: auto;
        margin-left: auto;   
    }

  .matra-container-child {

        width: 1200px;
        float: left;   
    }           

.matra-row:before, 
    .matra-row:after {
        content:"";
          display: table ;
        clear:both;
    }

.matra-col-2
{
  float: left;
  min-height: 1px;
  width: 200px;
  padding-left: 1px;
  position: relative; 
}

.matra-col-10
{
  float: left;
  min-height: 1px;
  width: 1000px;
  padding-left: 0px;
  position: relative;
}    

.heading-col
{
  float: left; 
  min-height: 1px; 
  width: 200px;
  padding-left:1px;  
  position: relative;
}

.landscape-col
{
  float: left; 
  min-height: 1px; 
  width: 250px;
  position: relative;
  padding-right:1.2px; 
}    


.square-col
{
  float: left;
  min-height: 1px; 
  width: 150px;
  position: relative;
  padding-right:1.2px;  
} 


.portrait-col
{
  float: left;
  min-height: 1px;
  width: 100px;
  position: relative; 
  padding-right:1.2px; 
} 

.arrow-col
{
  float: left;
  min-height: 1px;
  width: 50px;
  height: 120px;
  position: relative; 
  padding-right:1px; 
}

.matra-arrow
{
  float: left;
  min-height: 1px;
  padding-left:1px;  
  padding-right:1px;
  width: 1%;
  position: relative;  
} 



@media all and (max-width:767px) {

.heading-col
{
   width: 100%;
}

.landscape-col
{
   width: 100%;
}

.square-col
{ 
   width: 100%;
}

.portrait-col
{
   width: 100%;
}

.matra-heading
{
  width: 100%;
 } 

.matra-landscape
{
  width: 100%;  
}

.matra-square
{
  width: 100%;  
}

.matra-portrait
{ 
  width: 100%;  
} 

.matra-arrow
{
  width: 0%; 
}

.arrowbox
{
display: none;

}

}

#contactus a:link 
{
  border-radius: 4px;
  color: #999;
  border: 2px solid #999;
}


#contactus a:hover 
{
  background: #999;
  color: white;
  border: 2px solid #999;
}


#contactus a:visited 
{
  border-radius: 4px;
  color: #999;
  border: 2px solid #999;
}

.linkcollection
{
	margin-left: 10%;
}

#links a:link
{
	color:#3c3c3c;
}


#links a:hover
{
	color:#3c3c3c;
}

#links a:visited
{
	color:#3c3c3c;
}

#links
{
  font-size: 11pt;
  margin-top: 1%;
}

.footer
{
  position: relative;
  margin-top: -50px; 
  height: 80px;
  clear:both;
  padding-top:20px;
  font-weight: 300;
  font-size: 11pt;
}


.linklist
{
 display: inline-block;
}

.footerlink a:link {
  color: #3c3c3c;
}

.footerlink a:hover {
  color: #3c3c3c;
}


.footerlink a:visited {
  color: #3c3c3c;
}

.matrainput
{
  height: 3.75rem;
  border-radius: 3px;
  border: 1px solid #ccc; 
  margin-top: 3%;
  padding: 0 .625rem;
  width: 50%;
}

.matrainput2
{
  height: 8rem;
  border-radius: 3px;
  border: 1px solid #ccc; 
  margin-top: 3%;
  padding: 0 .625rem;
  padding-top: .625rem;
  width: 50%;
}

.matrabtn
{
  height: 3.75rem;
  border-radius: 3px;
  color: white;
  background-color: #a9a9a9;
  width: 50%;
  border: 1px solid transparent; 
  margin-top: 3%; 
}

@media all and (max-width:767px) {

.matrainput {
  width: 80%;
}


.matrainput2 {
  width: 80%;
}


.matrabtn {
  width: 80%;
}

}

@media all and (max-width:500px) {

.matrainput {
  width: 90%;
}


.matrainput2 {
  width: 90%;
}

.matrabtn {
  width: 90%;
}

}

#avatarfield
{
  display: none;
}

#avatarbox
{
  width: 50%;
  height: 300px;
  border: 1px solid transparent;
  display: none;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.fitpreview
{
  width: 100%;
  height: 100%;
}

#avatarbtn a:link
{
  color: white;
}


#avatarbtn a:hover
{
  color: white;
}


#avatarbtn a:visited
{
  color: white;
}

@media all and (max-width:767px) {

#avatarbox {
  width: 80%;
}

}

@media all and (max-width:500px) {

#avatarbox {
  width: 90%;
}

}

.normalcomplete
{
  width: 100%;
  height: 100%;
}