// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=3049b0dc-9fba-45f2-9d9e-18c99579483d&fontids=5179338");
    
@font-face{
        font-family:"Swis721 Th BT W05 Thin";
        src:asset-url("a89e1622-2627-4ff8-a093-75b66fb045ca.eot?#iefix");
        src:asset-url("a89e1622-2627-4ff8-a093-75b66fb045ca.eot?#iefix") format("eot"),asset-url("81c6a4ea-c435-4a7f-885e-d7e091ba72fc.woff2") format("woff2"),asset-url("664b48d8-4148-4cce-bbb7-d65848e57250.woff") format("woff"),asset-url("737b4a38-8c6d-42e9-9464-6aebf41a2d2d.ttf") format("truetype");
    }
