// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categorybox
{
 width: 100%;
 color: #7f7f7f;
 height: 180px;
 background-color: #d3d3d3;
 margin-bottom: -20px;
 display: inline-block;
}

.arrowbox
{
 width: 100%;
 color: #d3d3d3;
 height: 180px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

.rcategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
}


.pbcategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
}


.icategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
}

.landscape
{
  height: 180px;
  width: 100%;
}

.square
{
  height: 180px;
  width: 100%; 
}

.portrait
{
  height: 180px;
  width: 100%;
}

.fitlandscape
{
  width: 100%;
  height: 100%;
}

.fitsquare
{
  width: 100%;
  height: 100%;
}

.fitportrait
{
  width: 100%;
  height: 100%;
}

@media all and (max-width: 767px) {
  .fitsquare
  {
    width: 74%;
  }

  .fitportrait
  {
    width: 39%;
  }

}

.categoryheading
{
  text-align: center;
  color: #7f7f7f; 	
}

hr 
{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #7f7f7f;
}

.travelbox
{
 width: 100%;
 padding: 5px;
 border: 1px solid #999;
 height: 330px;
 line-height: 1.4;
 text-align: center; 
 margin-top: 5%;
 color: #999;
 margin-left: auto;
 margin-right: auto;   	
}

.tpic
{
  height: 220px;
}

.tripheading
{
  word-wrap: break-word;	
}

.profilepic
{
  height: 40px;
  width: 40%;
  border: 1px solid transparent;
  
}

.fitphoto1
{
   width: 40px;
   height: 40px;
   border-radius: 50%; 
}


.fitphoto2
{
   width: 100%;
   height: 100%;
}
