// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.normalheading
{
  float: left; 
  min-height: 1px; 
  padding-left:1px;  
  position: relative;
} 

.normallandscape
{
  float: left; 
  min-height: 1px; 
  width: 22%; 
  padding-right: 4px;
  position: relative; 
}

.normalsquare
{
  float: left;
  min-height: 1px; 
  width: 18%;
  padding-right: 4px;
  position: relative;
}

.normalportrait
{
  float: left;
  padding-right:4px;
  min-height: 1px; 
  width: 12%;
  position: relative;  
}

.narrowheading
{
  float: left; 
  min-height: 1px;
  padding-left:1px;  
  position: relative;
} 

.narrowlandscape
{
  float: left; 
  min-height: 1px; 
  width: 22%; 
  padding-right:4px;
  position: relative; 
}

.narrowsquare
{
  float: left;
  padding-right:4px;
  min-height: 1px; 
  width: 18%;
  position: relative;  
}


.narrowportrait
{
  float: left;
  padding-right:4px;
  min-height: 1px; 
  width: 9%;
  position: relative;  
}

.broadheading
{
  float: left; 
  min-height: 1px;
  padding-left:1px;  
  position: relative;
} 

.broadlandscape
{
  float: left; 
  min-height: 1px; 
  width: 23%; 
  padding-right:4px;
  position: relative; 
}

.broadsquare
{
  float: left;
  padding-right:4px;
  min-height: 1px; 
  width: 21%;
  position: relative;  
}

.broadportrait
{
  float: left;
  min-height: 1px;  
  padding-right:4px;
  width: 15%;
  position: relative;  
}

.rcategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
  font-size: 22px;
}

.pbcategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
  font-size: 22px;
}


.icategory
{
  text-align: center;
  margin-top: 120px;
  font-weight: 100;
  font-size: 22px;
}


.namenormal
{
  text-align: left;
  margin-top: 138px;
  margin-left: 15px;
  font-size: 25px;
}

.namebroad
{
  text-align: left;
  margin-top: 181px;
  margin-left: 15px;
  font-size: 25px;
}

.nameboldbroad
{
  text-align: left;
  margin-top: 181px;
  margin-left: 15px;
  font-size: 25px;
  font-family:"Swis721 Blk2 BT W05 Black";
}

.namenarrow
{
  text-align: left;
  margin-top: 84px;
  margin-left: 15px;
  font-size: 25px;
}

.categorynormal
{
 width: 100%;
 color: #3c3c3c;
 height: 173px;
 background-color: #dddddd;
 margin-bottom: -20px;
 display: inline-block;
}

.categorynarrow
{
 width: 100%;
 color: #3c3c3c;
 height: 119px;
 background-color: #dddddd;
 margin-bottom: -20px;
 display: inline-block;
}


.categorybroad
{
 width: 100%;
 color: #3c3c3c;
 height: 216px;
 background-color: #dddddd;
 margin-bottom: -20px;
 display: inline-block;
}

.arrownormal
{
 width: 100%;
 color: #dddddd;
 height: 173px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

.arrowbroad
{
 width: 100%;
 color: #dddddd;
 height: 216px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

.arrownarrow
{
 width: 100%;
 color: #dddddd;
 height: 119px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

.landscapenormal
{
  height: 173px;
  width: 100%;
}

.landscapebroad
{
  height: 216px;
  width: 100%;
}

.landscapenarrow
{
  height: 119px;
  width: 100%;
}


.squarenormal
{
  height: 173px;
  width: 100%; 
}

.squarebroad
{
  height: 216px;
  width: 100%; 
}

.squarenarrow
{
  height: 119px;
  width: 100%; 
}

.portraitnormal
{
  height: 173px;
  width: 100%;
}

.portraitbroad
{
  height: 216px;
  width: 100%;
}


.portraitnarrow
{
  height: 119px;
  width: 100%;
}

.fitlandscape
{
  width: 100%;
  height: 100%;
}

.fitsquare
{
  width: 100%;
  height: 100%;
}

.fitportrait
{
  width: 100%;
  height: 100%;
}

@media all and (max-width: 767px) {
  .fitsquare
  {
    width: 74%;
  }

  .fitportrait
  {
    width: 39%;
  }

}

.categoryheading
{
  text-align: center;
  color: #3c3c3c; 	
}

hr 
{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #3c3c3c;
}

.travelbox
{
 width: 100%;
 padding: 5px;
 border: 1px solid #999;
 height: 330px;
 line-height: 1.4;
 text-align: center; 
 margin-top: 5%;
 color: #999;
 margin-left: auto;
 margin-right: auto;   	
}

.tpic
{
  height: 220px;
}

.tripheading
{
  word-wrap: break-word;	
}

.profilepic
{
  height: 40px;
  width: 40%;
  border: 1px solid transparent;
  
}

.fitphoto1
{
   width: 40px;
   height: 40px;
   border-radius: 50%; 
}


.fitphoto2
{
   width: 100%;
   height: 100%;
}

.boldfirstnormal
{
  text-align: left;
  font-family:"Swis721 Blk2 BT W05 Black";
  font-size: 25px;
  margin-left: 15px;
  margin-top: 123px;
}

.boldlastnormal
{
  text-align: left;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 153px;
}
