// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coverbtn a:link
{
  color: white;
}


#coverbtn a:hover
{
  color: white;
}


#coverbtn a:visited
{
  color: white;
}



#squarebtn a:link
{
	color: white;
}


#squarebtn a:hover
{
	color: white;
}


#squarebtn a:visited
{
	color: white;
}


#landscapebtn a:link
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}

.mainsquarebox
{
  height: 583.33px;
  width: 583.33px;
  border: 1px solid transparent;
  float: right;
}

.mainlandscapebox
{
  height: 583.33px;
  width: 875px;
  border: 1px solid transparent;
}

.mainportraitbox
{
  height: 583.33px;
  width: 388.88px;
  border: 1px solid transparent;
  float: right;
}

.marginleft
{
  margin-left: 4%;
}

.fitimg
{
  width: 100%;
  height: 100%;
}

#arrowbox
{
 width: 100%;
 color: #3c3c3c;
 height: 60px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

#arrowbox1
{
 width: 100%;
 color: #3c3c3c;
 height: 60px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

@media all and (max-width: 767px)
{

 .marginleft
 {
   margin-left: 0px;
 }
	
}

.projectbox
{
  width:70%;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 5px; 
}

.ProjectBox
{
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.projectframe
{
  height: 250px;
}

.landscape
{
  height: 125px;
  width: 100%;
}

.square
{
  height: 125px;
  width: 100%; 
}

.portrait
{
  height: 125px;
  width: 100%;
}

.category
{
 width: 100%;
 color: #3c3c3c;
 height: 125px;
 background-color: #dddddd;
 margin-bottom: -20px;
 display: inline-block;
}

.categorytext
{
  text-align: center;
  margin-top: 25px;
  font-weight: 100;
}

.catdesc
{
  text-align: center;
  font-size: 11px;
  margin-top: 5px;  
}

.coverbox
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
}

.coverpic
{
  height: 300px;
}

.col-landscape
{
  width: 450px;
  float: left;
  margin-right: 20px;
}

.col-portrait
{
  width: 200px; 
  float: left;
  margin-right: 20px;
}

.col-square
{
  width: 300px;
  float: left;
  margin-right: 20px;
}

.setcover
{
  border: 1px solid #ccc;
  text-align: center; 
  height: 120px; 
}

.category a:link
{
  color: #3c3c3c;
}

.category a:hover
{
  color: #3c3c3c; 
  text-decoration: none;
}

#descriptionbox
{
  width: 100%;
  height: 583.33px;
  color: #3c3c3c;
  background-color: #dddddd;
  text-align: justify;
  font-size: 10pt;
  overflow-y: scroll;
}

.projectdescription
{ 
  padding-top: 250px;
  text-align: center;
}

#displaydesc a:link
{
  color: #3c3c3c;
  text-decoration: none;
}


#displaydesc a:hover
{
  color: #3c3c3c;
  text-decoration: none;
}


#displaydesc a:visited
{
  color: #3c3c3c;
  text-decoration: none;
}

.ProjectNameBox
{
  height: 200px;
  width: 100%;
  color: #3c3c3c;
  background-color: #dddddd;
  margin-bottom: -20px;
  display: inline-block;
}

.name-project
{
  float: left; 
  min-height: 1px; 
  width: 20%;
  padding-left:1px;  
  position: relative;  
}

.photo-project
{
  float: left; 
  min-height: 1px; 
  width: 25%;
  position: relative; 
}    

.ProjectPhotoBox
{ 
  height: 200px;
  width: 100%;
}

.ProjectName
{
  text-align: center;
  margin-top: 140px;
}

.mainimagebox
{ 
  width: 100%;  
  background-color: #dddddd;
  position: absolute;
}

.boldfirstname
{ 
  font-family:"Swis721 Blk2 BT W05 Black";
  margin-left: 15px;
  margin-top: 68px;
}

.normallastname
{
  margin-left: 15px;
  margin-top: -18px;
}

.ProjectDescription
{
  margin-left: 15px;
  margin-top: 15px;
}

.firstnameshow
{
   font-family: "Swis721 Blk2 BT W05 Black";
   margin-left: 15px;
   margin-top: 42px; 
}

.lastnameshow
{
    margin-left: 15px;
    margin-top: -16px;
}


.yearshow
{
   font-family: "Swis721 Blk2 BT W05 Black";
   margin-left: 15px;
   margin-top: -10px;
   font-size: 12px;  
}

.locationshow
{
    font-family: "Swis721 Blk2 BT W05 Black";
    margin-left: 15px;
    margin-top: -15px;
    font-size: 12px;  
}
