// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coverbtn a:link
{
  color: white;
}


#coverbtn a:hover
{
  color: white;
}


#coverbtn a:visited
{
  color: white;
}



#squarebtn a:link
{
	color: white;
}


#squarebtn a:hover
{
	color: white;
}


#squarebtn a:visited
{
	color: white;
}


#landscapebtn a:link
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}

.mainsquarebox
{
  height: 600px;
  width: 60%;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.mainlandscapebox
{
  height: 600px;
  width: 100%;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.mainportraitbox
{
  height: 600px;
  width: 40%;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.marginleft
{
  margin-left: 4%;
}

.fitimg
{
  width: 100%;
  height: 100%;
}

#arrowbox
{
 width: 100%;
 color: #d3d3d3;
 height: 60px;
 margin-bottom: -20px;
 display: inline-block;
 margin-left: 15px;
}

@media all and (max-width: 767px)
{

 .marginleft
 {
   margin-left: 0px;
 }
	
}

.projectbox
{
  width:70%;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 5px; 
}

.projectframe
{
  height: 250px;
}

.landscape
{
  height: 90px;
  width: 100%;
}

.square
{
  height: 90px;
  width: 100%; 
}

.portrait
{
  height: 90px;
  width: 100%;
}

.category
{
 width: 100%;
 color: #3c3c3c;
 height: 90px;
 background-color: #dddddd;
 margin-bottom: -20px;
 display: inline-block;
}

.categorytext
{
  text-align: center;
  margin-top: 15px;
  font-weight: 100;
}

.catdesc
{
  text-align: center;
  font-size: 11px;
  margin-top: 5px;  
}

.coverbox
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%
}

.coverpic
{
  height: 180px;
}

.setcover
{
  border: 1px solid #ccc;
  text-align: center;  
}
