// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#squarebtn a:link
{
	color: white;
}


#squarebtn a:hover
{
	color: white;
}


#squarebtn a:visited
{
	color: white;
}


#landscapebtn a:link
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#landscapebtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}


#portraitbtn a:visited
{
	color: white;
}