// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchlandscape-col
{
	  float: left;
    min-height: 1px; 
    width: 487.5px;
    position: relative;
 }

 .searchlandscape
 {
   width: 100%;
   height: 125px;
   background-color: #dddddd;
   display: inline-block;
 }

 .searchsquare-col
{
	  float: left;
    min-height: 1px; 
    width: 750px;
    position: relative;
 }

  .searchsquare
 {
   width: 100%;
   height: 125px;
   background-color: #dddddd;
   display: inline-block;
 }


 .searchportrait-col
{
	  float: left;
    min-height: 1px; 
    width: 791.66px;
    position: relative;
 }

  .searchportrait
 {
   width: 100%;
   height: 125px;
   background-color: #dddddd;
   display: inline-block;
 }
