// Place all the styles related to the strips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripbox
{
  height: 340px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: transparent;  
}

.stripname
{
  word-wrap: break-word;	
}

#stripbuttons a:link
{
  color: white;
}


#stripbuttons a:hover
{
  color: white;
}


#stripbuttons a:visited
{
  color: white;
}

.categorystrip
{
  text-align:left;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 68px;
}

.parentcategory
{
  text-align: left;
  margin-left: 15px;
  margin-top: 88px;
}

#projectlinks
{
  font-size: 10pt;
}


#projectlinks a:link
{
  color: #3c3c3c;
}

#projectlinks a:visited
{
  color: #3c3c3c;
}

#projectlinks a:hover
{
  color: #3c3c3c;
} 

.StripName
{
  font-family:"Swis721 Blk2 BT W05 Black";
}