// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-user
{
  float: left; 
  min-height: 1px; 
  width: 20%;
  padding-left:1px;  
  position: relative;  
}

.photo-user
{
  float: left; 
  min-height: 1px; 
  width: 25%;
  position: relative; 
}    

.UserNameBox
{
  height: 200px;
  width: 100%;
  color: #3c3c3c;
  background-color: #dddddd;
  margin-bottom: -20px;
  display: inline-block;
}

.UserPhotoBox
{ 
  height: 200px;
  width: 100%;
}

.fitavatar
{
  width: 100%;
  height: 100%;
}

.UserName
{
  text-align: center;
  margin-top: 140px;
}

.boldheading
{
  font-size: 25px;
  font-family:"Swis721 Blk2 BT W05 Black";
  margin-top: 162px;
  margin-left: 15px;
  text-align: left;
}

.lightheading
{
  font-size: 25px;
  font-family:"Swis721 Blk2 BT W05 Black";
  margin-top: 181px;
  margin-left: 15px;
  text-align: left;
}
