// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userbox
{
  width:50%;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding: 5px; 
}

.avatarframe
{
  height: 150px;
}

.avatarimg
{
  width: 100%;
  height: 100%;
}

#namebox
{
  text-align: center;
  color: #7f7f7f;
  font-size: 15px;	
  padding-top: 5px;
}

#namebox a:link
{
  color: #7f7f7f;
}


#namebox a:hover
{
  color: #7f7f7f;
}


#namebox a:link
{
  color: #7f7f7f;
}

@media all and (max-width: 768px)
{
  .avatarframe
  {
    height: 180px;
  }

  .userbox
  {
    width: 60%;
    margin-top: 4%;  
  }	

  #namebox 
  {
    font-size: 14px;
  }

}